USE [master]
GO
/****** Object:  Database [DSTareas]    Script Date: 14/07/2020 21:51:00 ******/
CREATE DATABASE [DSTareas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSTareas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DSTareas.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DSTareas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DSTareas_log.ldf' , SIZE = 2816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSTareas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSTareas]
GO
/****** Object:  Table [dbo].[tbl_Estado_Objeto]    Script Date: 14/07/2020 21:51:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Estado_Objeto](
	[Estado_Objeto] [tinyint] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Des_Contabilidad] [varchar](50) NULL,
	[Hotel_Estado] [bit] NULL,
	[Tarea_Estado] [bit] NULL,
	[BackColor] [varchar](50) NULL,
	[E_A_Estado] [bit] NULL,
	[Default_E] [bit] NOT NULL,
	[Des_Tarea] [varchar](100) NULL,
	[Estado_Objeto_Padre] [tinyint] NULL,
 CONSTRAINT [PK_tbl_Estado_Objeto] PRIMARY KEY CLUSTERED 
(
	[Estado_Objeto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Tarea]    Script Date: 14/07/2020 21:51:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Tarea](
	[Tarea] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Fecha_Ini] [datetime] NULL,
	[Fecha_Fin] [datetime] NULL,
	[Referencia] [int] NULL,
	[UserName] [varchar](30) NOT NULL,
	[Observacion_1] [varchar](8000) NULL,
	[Tipo_Tarea] [tinyint] NOT NULL,
	[Cuenta_Correntista] [int] NULL,
	[Cuenta_Cta] [varchar](20) NULL,
	[Cantidad_Contacto] [tinyint] NULL,
	[Nombre_Contacto] [varchar](200) NULL,
	[Tipo_Documento] [tinyint] NULL,
	[Id_Documento] [varchar](60) NULL,
	[Ref_Serie] [varchar](30) NULL,
	[Fecha_Documento] [datetime] NULL,
	[Elemento_Asignado] [smallint] NULL,
	[Seccion] [smallint] NULL,
	[Tipo_Actividad] [smallint] NULL,
	[Actividad_Paso] [smallint] NULL,
	[Ejecutado] [bit] NULL,
	[Ejecutado_Por] [numeric](18, 2) NULL,
	[Ejecutado_Fecha] [datetime] NULL,
	[Ejecutado_Fecha_Hora] [datetime] NULL,
	[M_Fecha_Hora] [datetime] NULL,
	[M_UserName] [varchar](30) NULL,
	[Estado] [tinyint] NULL,
	[Producto] [int] NULL,
	[Fecha_Hora] [datetime] NOT NULL,
	[Empresa] [tinyint] NULL,
	[Nivel_Prioridad] [smallint] NULL,
	[Tarea_Padre] [int] NULL,
	[Tiempo_Estimado_Tipo_Periocidad] [smallint] NULL,
	[Tiempo_Estimado] [smallint] NULL,
 CONSTRAINT [PK_tbl_Tarea] PRIMARY KEY CLUSTERED 
(
	[Tarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Tarea_Comentario]    Script Date: 14/07/2020 21:51:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Tarea_Comentario](
	[Tarea_Comentario] [smallint] NOT NULL,
	[Tarea] [int] NOT NULL,
	[Fecha_Hora] [datetime] NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[Comentario] [varchar](7500) NOT NULL,
	[Estado] [tinyint] NOT NULL,
 CONSTRAINT [PK_tbl_Tarea_Comentario] PRIMARY KEY CLUSTERED 
(
	[Tarea_Comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Tarea_Responsable]    Script Date: 14/07/2020 21:51:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Tarea_Responsable](
	[Tarea] [int] NOT NULL,
	[T_UserName] [varchar](30) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[Fecha_Hora] [datetime] NOT NULL,
	[M_UserName] [varchar](30) NULL,
	[M_Fecha_Hora] [datetime] NULL,
	[Consecutivo_Interno] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Tarea_UserName]    Script Date: 14/07/2020 21:51:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Tarea_UserName](
	[Tarea_UserName] [int] IDENTITY(1,1) NOT NULL,
	[Tarea] [int] NOT NULL,
	[UserName_T] [varchar](30) NOT NULL,
	[Estado] [tinyint] NOT NULL,
	[UserName] [varchar](30) NOT NULL,
	[Fecha_Hora] [datetime] NOT NULL,
	[M_UserName] [varchar](30) NULL,
	[M_Fecha_Hora] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Estado_Objeto] ([Estado_Objeto], [Descripcion], [Des_Contabilidad], [Hotel_Estado], [Tarea_Estado], [BackColor], [E_A_Estado], [Default_E], [Des_Tarea], [Estado_Objeto_Padre]) VALUES (1, N'Activo', N'MAYORIZADO', NULL, 1, N'#F4FA58', 1, 1, N'Activo', 1)
INSERT [dbo].[tbl_Estado_Objeto] ([Estado_Objeto], [Descripcion], [Des_Contabilidad], [Hotel_Estado], [Tarea_Estado], [BackColor], [E_A_Estado], [Default_E], [Des_Tarea], [Estado_Objeto_Padre]) VALUES (2, N'Inactivo', N'DIARIO', NULL, NULL, NULL, 1, 0, NULL, NULL)
INSERT [dbo].[tbl_Estado_Objeto] ([Estado_Objeto], [Descripcion], [Des_Contabilidad], [Hotel_Estado], [Tarea_Estado], [BackColor], [E_A_Estado], [Default_E], [Des_Tarea], [Estado_Objeto_Padre]) VALUES (3, N'Anulado', N'ANULADO', NULL, NULL, NULL, 1, 0, NULL, NULL)
GO
INSERT [dbo].[tbl_Tarea_Comentario] ([Tarea_Comentario], [Tarea], [Fecha_Hora], [UserName], [Comentario], [Estado]) VALUES (1, 5, CAST(N'2017-05-23 16:46:34.130' AS DateTime), N'DESA004', N'Primera Tarea JI', 1)
INSERT [dbo].[tbl_Tarea_Comentario] ([Tarea_Comentario], [Tarea], [Fecha_Hora], [UserName], [Comentario], [Estado]) VALUES (2, 27, CAST(N'2017-10-04 16:39:08.790' AS DateTime), N'DESA004', N'Revisar reporte de factura', 1)
INSERT [dbo].[tbl_Tarea_Comentario] ([Tarea_Comentario], [Tarea], [Fecha_Hora], [UserName], [Comentario], [Estado]) VALUES (3, 27, CAST(N'2017-10-04 16:39:21.260' AS DateTime), N'DESA004', N'revisar reporte kardex', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Tarea_Responsable] ON 

INSERT [dbo].[tbl_Tarea_Responsable] ([Tarea], [T_UserName], [Estado], [UserName], [Fecha_Hora], [M_UserName], [M_Fecha_Hora], [Consecutivo_Interno]) VALUES (1, N'SA                            ', 1, N'ds', CAST(N'2018-06-13 09:28:52.810' AS DateTime), NULL, NULL, 139)
INSERT [dbo].[tbl_Tarea_Responsable] ([Tarea], [T_UserName], [Estado], [UserName], [Fecha_Hora], [M_UserName], [M_Fecha_Hora], [Consecutivo_Interno]) VALUES (2, N'SA                            ', 1, N'ds', CAST(N'2018-06-13 09:28:52.810' AS DateTime), NULL, NULL, 140)
INSERT [dbo].[tbl_Tarea_Responsable] ([Tarea], [T_UserName], [Estado], [UserName], [Fecha_Hora], [M_UserName], [M_Fecha_Hora], [Consecutivo_Interno]) VALUES (3, N'SA                            ', 1, N'ds', CAST(N'2018-06-13 09:28:52.810' AS DateTime), NULL, NULL, 141)
GO
SET IDENTITY_INSERT [dbo].[tbl_Tarea_Responsable] OFF
SET IDENTITY_INSERT [dbo].[tbl_Tarea_UserName] ON 

INSERT [dbo].[tbl_Tarea_UserName] ([Tarea_UserName], [Tarea], [UserName_T], [Estado], [UserName], [Fecha_Hora], [M_UserName], [M_Fecha_Hora]) VALUES (25, 8, N'DESA003', 3, N'DESA015', CAST(N'2017-09-26 15:21:54.240' AS DateTime), N'DESA015', CAST(N'2017-09-26 15:21:56.720' AS DateTime))
INSERT [dbo].[tbl_Tarea_UserName] ([Tarea_UserName], [Tarea], [UserName_T], [Estado], [UserName], [Fecha_Hora], [M_UserName], [M_Fecha_Hora]) VALUES (26, 11, N'DESA003', 3, N'DESA015', CAST(N'2017-09-26 15:22:20.420' AS DateTime), N'DESA015', CAST(N'2017-09-26 15:22:25.577' AS DateTime))
INSERT [dbo].[tbl_Tarea_UserName] ([Tarea_UserName], [Tarea], [UserName_T], [Estado], [UserName], [Fecha_Hora], [M_UserName], [M_Fecha_Hora]) VALUES (24, 14, N'DESA003', 1, N'DESA015', CAST(N'2017-09-26 15:07:30.690' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_Tarea_UserName] OFF
ALTER TABLE [dbo].[tbl_Estado_Objeto] ADD  DEFAULT ((0)) FOR [Default_E]
GO
ALTER TABLE [dbo].[tbl_Tarea] ADD  DEFAULT (getdate()) FOR [Fecha_Hora]
GO
ALTER TABLE [dbo].[tbl_Tarea] ADD  DEFAULT ((1)) FOR [Empresa]
GO
ALTER TABLE [dbo].[tbl_Tarea]  WITH NOCHECK ADD  CONSTRAINT [FK_tbl_Tarea_tbl_Tarea] FOREIGN KEY([Tarea_Padre])
REFERENCES [dbo].[tbl_Tarea] ([Tarea])
GO
ALTER TABLE [dbo].[tbl_Tarea] CHECK CONSTRAINT [FK_tbl_Tarea_tbl_Tarea]
GO
ALTER TABLE [dbo].[tbl_Tarea_Responsable]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tarea_Responsable_tbl_Estado_Objeto] FOREIGN KEY([Estado])
REFERENCES [dbo].[tbl_Estado_Objeto] ([Estado_Objeto])
GO
ALTER TABLE [dbo].[tbl_Tarea_Responsable] CHECK CONSTRAINT [FK_tbl_Tarea_Responsable_tbl_Estado_Objeto]
GO
ALTER TABLE [dbo].[tbl_Tarea_Responsable]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tarea_Responsable_tbl_Tarea] FOREIGN KEY([Tarea])
REFERENCES [dbo].[tbl_Tarea] ([Tarea])
GO
ALTER TABLE [dbo].[tbl_Tarea_Responsable] CHECK CONSTRAINT [FK_tbl_Tarea_Responsable_tbl_Tarea]
GO
ALTER TABLE [dbo].[tbl_Tarea_UserName]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Tarea_UserName_tbl_Tarea] FOREIGN KEY([Tarea])
REFERENCES [dbo].[tbl_Tarea] ([Tarea])
GO
ALTER TABLE [dbo].[tbl_Tarea_UserName] CHECK CONSTRAINT [FK_tbl_Tarea_UserName_tbl_Tarea]
GO
USE [master]
GO
